<div class="btn-volver-arriba" id="btnVolverArriba">
  <a class="volver-arriba" href="/"><i class="fas fa-arrow-up"></i></a>
</div>
<!-- header-->
<header>
  <!-- Version Mobil-->
  <div class="menu-mobile">
    <!-- Menu Barra-->
    <div class="barra">
      <!-- logo-->
      <a class="logo" href="/"> <img src="assets/img/logo.png" alt="logo" /> </a
      ><a id="btnMenu" href="#"><i class="fas fa-bars"></i></a>
    </div>
    <!-- Menu Principal-->
    <nav class="menu-principal">
      <a class="volver-arriba" href="/">Inicio</a>
      <a class="scroll-acercaDe" href="#">Enseñanzas</a>
      <a class="scroll-equipo" href="/congresos">Congresos</a>
      <a
        class="scroll-suave"
        href="https://ul.waze.com/ul?place=ChIJqfCwUNiB05ERofVgjKEIhv0&amp;ll=-1.19528690%2C-78.59510520&amp;navigate=yes&amp;utm_campaign=default&amp;utm_source=waze_website&amp;utm_medium=lm_share_location"
        >Como Llegar?</a
      >
    </nav>
  </div>
  <!-- Version Escritorio-->
  <div class="menu-social-top">
    <a
      href="https://www.facebook.com/casacentralfamiliardeDios/"
      target="_blank"
      ><i class="fab fa-facebook-f"></i></a
    ><a href="https://www.instagram.com/casadedios_amb/" target="_blank"
      ><i class="fab fa-instagram"></i></a
    ><a
      href="https://www.youtube.com/channel/UCiDkETIMl27Ysg-YsfMVglg"
      target="_blank"
      ><i class="fab fa-youtube"></i></a
    ><a href="https://wa.me/+593999724489" target="_blank"
      ><i class="fab fa-whatsapp"></i
    ></a>
  </div>
  <div class="menu-bar-pc">
    <!-- logo--><a class="logo" href="/"
      ><img src="assets/img/logo.png" alt="logo"
    /></a>
    <!-- Menu Principal-->
    <nav class="menu-principal">
      <a class="volver-arriba" href="/">Inicio</a
      ><a class="volver-arriba" href="/nosotros">Nosotros</a
      ><a class="volver-arriba" href="/ministerios">Ministerios</a
      ><a class="scroll-equipo" href="/congresos">Eventos</a
      ><a class="scroll-acercaDe" href="/predicas">Recursos</a
      ><a
        class="scroll-suave"
        href="https://ul.waze.com/ul?place=ChIJqfCwUNiB05ERofVgjKEIhv0&amp;ll=-1.19528690%2C-78.59510520&amp;navigate=yes&amp;utm_campaign=default&amp;utm_source=waze_website&amp;utm_medium=lm_share_location"
        >Como Llegar</a
      >
    </nav>
  </div>
  <!-- MENU FIXED TOP-->
  <div class="fixed-header" id="fixedHeader">
    <!-- logo--><a class="logo" href="/"
      ><img src="assets/img/logo.png" alt="logo"
    /></a>
    <!-- Menu-->
    <nav class="menu-principal">
      <a class="volver-arriba" href="/">Inicio</a
      ><a class="volver-arriba" href="/nosotros">Nosotros</a
      ><a class="volver-arriba" href="/ministerios">Ministerios</a
      ><a class="scroll-equipo" href="/congresos">Eventos</a
      ><a class="scroll-acercaDe" href="/predicas">Recursos</a
      ><a
        class="scroll-suave"
        href="https://ul.waze.com/ul?place=ChIJqfCwUNiB05ERofVgjKEIhv0&amp;ll=-1.19528690%2C-78.59510520&amp;navigate=yes&amp;utm_campaign=default&amp;utm_source=waze_website&amp;utm_medium=lm_share_location"
        >Como Llegar</a
      >
    </nav>
  </div>
</header>
